.table-history {
    box-sizing: border-box;
    overflow: auto;
    ul {
        min-width: 600px;
        padding: 10px;
    }
}
.cards {
    overflow-x: auto;
    box-sizing: border-box;
    display: flex;
    .cards-content {
        width: 750px;
        display: flex;
    }
}
.row-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .column-item {
        display: flex;
        padding-right: 0.5rem;
    }
}

.row-item {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0.75rem 1rem;
    border-radius: 10px;
    margin: 0.5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .column-item {
        display: flex;
    }
    &__action {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        cursor: pointer;
        position: relative;
        &:hover {
            svg path {
                fill: #071f68;
                stroke: #071f68;
            }
            span {
                visibility: visible;
                opacity: 1;
            }
        }
        span {
            visibility: hidden;
            position: absolute;
            top: calc(-100% - 10px);
            right: 0;
            white-space: nowrap;
            background: #071f68;
            color: #fff;
            font-size: 12px;
            font-weight: 300;
            font-family: "Nunito", sans-serif !important;
            padding: 3px 5px;
            border-radius: 5px;
            opacity: 0;
            transition: .3s;
            &::after {
                content: "";
                position: absolute;
                right: 10px;
                bottom: -5px;
                height: 10px;
                width: 10px;
                background: #071f68;
                transform: rotate(45deg);
            }
        }
    }
}
