@import "../../assets/scss/app.scss";
.input__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    .input {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #bbbbbb;
        border-radius: 10px;
        height: 35px;
        padding: 5px;
        margin: 0.25rem 0.25rem 0.5rem;
        cursor: pointer;
        &__text {
            height: 100%;
            width: 100%;
            background: transparent;
            padding: 0 15px;
            color: #707070;
        }
        &__icon {
            height: 20px;
            width: 20px;
            padding-left: 15px;
            path {
                fill: #707070;
            }
        }
    }
}
