@import "../../assets/scss/app.scss";
.input__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    .icon{
        .input__text{
            padding-left: 40px;
        }
    }
    .input {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #bbbbbb;
        border-radius: 10px;
        height: 45px;
        cursor: pointer;
        margin: 0.25rem 0.25rem 0.5rem;
        position: relative;
        span{
            position: absolute;
            left: 5px;
            top: calc(50% - 10px);
            svg{
                height: 20px;
                width: 20px;
            }
        }
        &__text {
            height: 100%;
            width: 100%;
            background: transparent;
            padding: 0 15px;
            color: #707070;
            border-radius: 10px;
        }
        &__icon {
            height: 20px;
            width: 20px;
            padding: 0 8px;
            path {
                fill: #707070;
            }
        }
    }
}
