@import "./core/colors/pallete-variables.scss";
@import "./core/colors/pallete.scss";
@import "./core/layouts/main-structure.scss";
@import "./core/variables/reset.scss";
@import "./core/variables/theme-variables.scss";
