@import "../variables/theme-variables.scss";
body {
    background: #f3f3f3;
}
.container{
    box-sizing: border-box;
}
.main-app-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
    overflow: hidden;
}
