@import "../variables/theme-variables.scss";

.container{
    box-sizing: border-box;
}
.content-wrapper{
    width: 100%;
    box-sizing: border-box;
}
.main-app-body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-sizing: border-box;
    overflow: hidden;
}   