.new-password-content {
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1);
    &__form {
        width: 100%;
        padding: 1rem 3rem;
        box-sizing: border-box;
        .button {
            &__active {
                position: relative;
                width: auto;
                height: 30px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                background: #071f68;
                color: #fff;
                padding: 0 1.5rem;
                margin-left: 0.5rem;
                transition: 0.3s;
                &:hover::after {
                    opacity: 1;
                    visibility: visible;
                    left: 10px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: calc(50% - 6px);
                    width: 0;
                    height: 0;
                    border-top: 7px solid transparent;
                    border-bottom: 7px solid transparent;
                    border-left: 7px solid #fff;
                    transition: 0.3s;
                    opacity: 0;
                    visibility: hidden;
                }
            }
            &__inactive {
                position: relative;
                width: auto;
                height: 30px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                background: #8b8b8b;
                color: #fff;
                padding: 0 1.5rem;
                margin-left: 0.5rem;
                transition: 0.3s;
                cursor: default;
            }
        }
    }
}