.new-password-content {
    background: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1);
    &__form {
        width: 100%;
        padding: 1rem 3rem;
        box-sizing: border-box;
    }
}