.table-history{
    box-sizing: border-box;
    overflow: auto;
    ul{
        min-width: 600px;
        padding: 10px;
    }
}

.row-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .column-item{
        display: flex;
        padding: 0 1rem;
    }
}
.row-item{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 0.75rem 1rem;
    border-radius: 10px;
    margin: 0.5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .column-item{
        display: flex;
    }
    &__action{
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        cursor: pointer;
        &:hover svg path{
            fill: #071f68;
            stroke: #071f68;    
        }
    }
}