@import "../../../../assets/scss/app.scss";

.star {
    margin: 0 2px;
}

.schedules {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    max-width: 750px;
    box-sizing: border-box;
    &__profile {
        height: 130px;
        width: 130px;
        border-radius: 10px;
        object-fit: cover;
    }
    &__content {
        padding-left: 1rem;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include to($breakpoint-sm) {
            padding-left: 0;
        }
    }
    &__form {
        .modality {
            width: 100%;
            max-width: 300px;
            display: flex;
            margin-bottom: 10px;
            input[type="radio"] {
                display: none;
                &:checked ~ .modality__button {
                    background: #071f68;
                    border-color: #071f68;
                    color: #fff;
                }
            }
            label {
                display: block;
                width: 100%;
            }
            &__button {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 35px;
                font-size: 14px;
                text-align: center;
                background: transparent;
                color: #bbbbbb;
                border: 1px solid #bbbbbb;
            }
            .button-left {
                border-radius: 7px 0 0 7px;
                border-right: transparent;
            }
            .button-right {
                border-radius: 0 7px 7px 0;
                border-left: transparent;
            }
        }
    }
}
