@import "../../assets/scss/app.scss";

.card {
    background: rgba($color: #000000, $alpha: 0.1);
    border-radius: 10px;
    height: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0.5rem;
    &:hover{
        opacity: 0.8;
    }
    @include to($breakpoint-sm) {
        height: 90px;
        width: 90px;
    }
    &__icon {
        svg {
            height: 40px;
            width: 40px;
            object-fit: contain;
            @include to($breakpoint-sm) {
                height: 30px;
                width: 30px;
            }
        }
    }
}
.gray {
    background: #707070;
}
.blue-light {
    background: #1fd0e0;
}
.green {
    background: #77cf1f;
}
.red {
    background: #fe6262;
}
.blue {
    background: #071f68;
}
