.register {
    box-sizing: border-box;
    background: #FFF;
    .register-social {
        width: 100%;
        height: 60px;
        border-radius: 10px;
        border: 1px solid #bbbbbb;
        position: relative;
        margin: 0.25rem;
        svg {
            position: absolute;
            left: 10px;
            top: 10px;
            height: 40px;
            width: 40px;
        }
    }
}
