@import "../../assets/scss/app.scss";

.banner {
    position: relative;
    &__border {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        svg {
            height: 100%;
            width: 100%;
        }
    }
}
.button__dark {
    position: relative;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background: #071f68;
    color: #fff;
    margin: 5px 0;
    transition: 0.3s;
    &:hover::after {
        opacity: 1;
        visibility: visible;
        left: 10px;
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 9px);
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #FFF;
        transition: 0.3s;
        opacity: 0;
        visibility: hidden;
    }
}
.button__light {
    position: relative;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background: #fff;
    color: #071f68;
    border: 1px solid #071f68;
    margin: 5px 0;
    transition: 0.3s;
    &:hover::after {
        opacity: 1;
        visibility: visible;
        left: 10px;
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 9px);
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #071f68;
        transition: 0.3s;
        opacity: 0;
        visibility: hidden;
    }
}
.button__register {
    position: relative;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background: #1fd0e0;
    color: #fff;
    margin: 5px 0;
    &:hover::after {
        opacity: 1;
        visibility: visible;
        left: 10px;
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 9px);
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 10px solid #FFF;
        transition: 0.3s;
        opacity: 0;
        visibility: hidden;
    }
}
