@import '../../assets/scss/app.scss';

.banner{
    position: relative;
    &__border{
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        svg{
            height: 100%;
            width: 100%;
        }
    }
}