@import "../../assets/scss/app.scss";
.login {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-image: url(../../assets/img/woman-is-working-at-workshop.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        z-index: -2;
    }
    &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(to right, rgba(0,0,0,0.5), rgba(255,255,255,0));
        z-index: -1;
    }
    form {
        box-sizing: border-box;
        background: #fff;
        padding: 3rem;
        @include to($breakpoint-sm){
            padding: 1rem;
        }
        border-radius: 10px;
    }
    .user-type {
        width: 100%;
        display: flex;
        padding: 0 15px;
        box-sizing: border-box;
        input[type="radio"] {
            display: none;
            &:checked ~ .user-type__button {
                background: #fff;
                border-color: #fff;
                color: #071f68;
            }
        }
        label {
            display: block;
            width: 100%;
        }
        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 45px;
            font-size: 20px;
            font-weight: 600;
            font-family: 'Nunito', sans-serif!important;
            text-align: center;
            background: rgba(0,0,0,0.1);
            color: #fff;
            border: 1px solid #fff;
            border-bottom-color: transparent;
            border-radius: 10px 10px 0 0;
            margin: 0 5px;
        }
    }
}
