.input-checkbox {
    input {
        display: none;
        &:checked ~ span {
            &::after {
                visibility: visible;
            }
        }
    }
    span {
        display: block;
        min-height: 15px;
        min-width: 15px;
        max-height: 15px;
        max-width: 15px;
        border: 1px solid #bbbbbb;
        margin-top: 5px;
        position: relative;
        &::after {
            content: "";
            visibility: hidden;
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            background-image: url(../../assets/img/check.svg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }
}
