.star {
    margin: 0 2px;
}
.appointment {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1rem;
    &__profile {
        height: 130px;
        width: 130px;
        border-radius: 10px;
        object-fit: cover;
    }
    &__content {
        padding-left: 1rem;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .online {
            font-size: 12px;
            color: #58e33d;
            display: flex;
            align-items: center;
            margin-left: 15px;
            span {
                height: 10px;
                width: 10px;
                border-radius: 5px;
                background-color: #58e33d;
                display: block;
                margin-right: 5px;
            }
        }
        .offline {
            font-size: 12px;
            color: #8b8b8b;
            display: flex;
            align-items: center;
            margin-left: 15px;
            span {
                height: 10px;
                width: 10px;
                border-radius: 5px;
                background-color: #8b8b8b;
                display: block;
                margin-right: 5px;
            }
        }
        .button {
            &__active {
                position: relative;
                width: auto;
                height: 30px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                background: #77cf1f;
                color: #fff;
                padding: 0 1.5rem;
                margin-left: 0.5rem;
                transition: 0.3s;
                &:hover::after {
                    opacity: 1;
                    visibility: visible;
                    left: 10px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: calc(50% - 6px);
                    width: 0;
                    height: 0;
                    border-top: 7px solid transparent;
                    border-bottom: 7px solid transparent;
                    border-left: 7px solid #fff;
                    transition: 0.3s;
                    opacity: 0;
                    visibility: hidden;
                }
            }
            &__inactive {
                position: relative;
                width: auto;
                height: 30px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                background: #8b8b8b;
                color: #fff;
                padding: 0 1.5rem;
                margin-left: 0.5rem;
                transition: 0.3s;
                &:hover::after {
                    opacity: 1;
                    visibility: visible;
                    left: 10px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: calc(50% - 6px);
                    width: 0;
                    height: 0;
                    border-top: 7px solid transparent;
                    border-bottom: 7px solid transparent;
                    border-left: 7px solid #fff;
                    transition: 0.3s;
                    opacity: 0;
                    visibility: hidden;
                }
            }
            &__danger {
                position: relative;
                width: auto;
                height: 30px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                background: #ec3658;
                color: #fff;
                padding: 0 1.5rem;
                margin-left: 0.5rem;
                transition: 0.3s;
                &:hover::after {
                    opacity: 1;
                    visibility: visible;
                    left: 10px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: calc(50% - 6px);
                    width: 0;
                    height: 0;
                    border-top: 7px solid transparent;
                    border-bottom: 7px solid transparent;
                    border-left: 7px solid #fff;
                    transition: 0.3s;
                    opacity: 0;
                    visibility: hidden;
                }
            }
            &__warning {
                position: relative;
                width: auto;
                height: 30px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                background: #ecb819;
                color: #fff;
                padding: 0 1.5rem;
                margin-left: 0.5rem;
                transition: 0.3s;
                &:hover::after {
                    opacity: 1;
                    visibility: visible;
                    left: 10px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: calc(50% - 6px);
                    width: 0;
                    height: 0;
                    border-top: 7px solid transparent;
                    border-bottom: 7px solid transparent;
                    border-left: 7px solid #fff;
                    transition: 0.3s;
                    opacity: 0;
                    visibility: hidden;
                }
            }
            &__dark {
                position: relative;
                width: auto;
                height: 30px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                background: #071f68;
                color: #fff;
                padding: 0 1.5rem;
                transition: 0.3s;
                margin-left: 1rem;
                &:hover::after {
                    opacity: 1;
                    visibility: visible;
                    left: 10px;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: calc(50% - 6px);
                    width: 0;
                    height: 0;
                    border-top: 7px solid transparent;
                    border-bottom: 7px solid transparent;
                    border-left: 7px solid #FFF;
                    transition: 0.3s;
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }
}
