@import "../../../../assets/scss/app.scss";
.star {
    margin: 0 2px;
}
.appointment {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1rem;
    width: 100%;
    max-width: 750px;
    box-sizing: border-box;
    .doctor-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 20ch;
    }
    &__profile {
        height: 130px;
        width: 130px;
        border-radius: 10px;
        object-fit: cover;
    }
    &__content {
        padding-left: 1rem;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include to($breakpoint-lg) {
            padding-left: 0;
        }
        .online {
            font-size: 12px;
            color: #58e33d;
            display: flex;
            align-items: center;
            margin-left: 15px;
            span {
                height: 10px;
                width: 10px;
                border-radius: 5px;
                background-color: #58e33d;
                display: block;
                margin-right: 5px;
            }
        }
        .offline {
            font-size: 12px;
            color: #8b8b8b;
            display: flex;
            align-items: center;
            margin-left: 15px;
            span {
                height: 10px;
                width: 10px;
                border-radius: 5px;
                background-color: #8b8b8b;
                display: block;
                margin-right: 5px;
            }
        }
    }
}
