@import "../../../assets/scss/app.scss";

.sidebar-content {
    width: 300px;
    background: #fff;
    @include to($breakpoint-xl) {
        position: fixed;
        top: 50px;
        height: calc(100vh - 50px);
        transition: left 0.2s;
        z-index: 999;
    }
    .profile {
        cursor: pointer;
        position: relative;
        &:hover {
            background: #f9f9f9;
        }
        &:hover .profile__dropdown {
            opacity: 1;
            visibility: visible;
            left: 100%;
            @include to($breakpoint-xl) {
                opacity: 1;
                visibility: visible;
                left: 0;
                top: 100%;
                width: 100%;
                z-index: 1;
            }
        }
        &__image {
            height: 40px;
            width: 40px;
            border-radius: 40px;
            object-fit: cover;
            cursor: pointer;
        }
        &__name {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 12ch;
        }
        &__dropdown {
            position: absolute;
            background: transparent;
            left: 90%;
            top: 0;
            list-style: none;
            padding: 0 5px;
            margin: 0;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s ease;
            box-sizing: border-box;
            z-index: 999;
            &--item {
                position: relative;
                cursor: pointer;
                background: #fff;
                margin-bottom: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                &:hover {
                    background: #f9f9f9;
                }
                &:hover .profile__dropdown--title {
                    color: $primary;
                }
                &:hover .profile__dropdown--icon svg {
                    path {
                        fill: $primary;
                    }
                }
            }
        }
    }
}
.menu {
    .active {
        background: #f9f9f9;
        &::after {
            opacity: 1;
            visibility: visible;
            left: 10px;
        }
        .menu__item {
            &--icon {
                svg {
                    path {
                        fill: $primary;
                    }
                }
            }
            &--title {
                color: $primary;
            }
        }
    }
    &__item {
        position: relative;
        cursor: pointer;
        &:hover::after {
            opacity: 1;
            visibility: visible;
            left: 10px;
        }
        &:hover {
            background: #f9f9f9;
        }
        &:hover .menu__item--icon svg {
            path {
                fill: $primary;
            }
        }

        &:hover .menu__item--title {
            color: $primary;
        }
        &:hover .menu__dropdown {
            opacity: 1;
            visibility: visible;
            left: 100%;
            z-index: 999;
            box-sizing: border-box;
            @include to($breakpoint-xl) {
                left: 0;
                top: 100%;
            }
        }
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: calc(50% - 6px);
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 7px solid $primary;
            transition: 0.3s;
            opacity: 0;
            visibility: hidden;
        }
        .menu__dropdown {
            position: absolute;
            background: transparent;
            left: 90%;
            top: 0;
            list-style: none;
            padding: 0 5px;
            margin: 0;
            opacity: 0;
            visibility: hidden;
            transition: all 240ms ease;
            width: 100%;
            &--item {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                margin-bottom: 5px;
                background: #fff;
                position: relative;
                padding-left: 20px;
                &:hover::after {
                    opacity: 1;
                    visibility: visible;
                    left: 10px;
                }
                &:hover {
                    background: #f9f9f9;
                }
                &:hover .menu__dropdown--title {
                    color: $primary;
                }
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: calc(50% - 6px);
                    width: 0;
                    height: 0;
                    border-top: 7px solid transparent;
                    border-bottom: 7px solid transparent;
                    border-left: 7px solid $primary;
                    transition: 0.3s;
                    opacity: 0;
                    visibility: hidden;
                }
                &--title {
                    white-space: nowrap;
                    padding: 0 20px;
                }
            }
        }

        &--icon {
            svg {
                width: 25px;
                height: 25px;
                object-fit: contain;
            }
        }
        &--dropdown {
            position: absolute;
        }
    }
}
.header-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;
    background: #fff;
    padding: 0 1rem;
    z-index: 999;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.menu {
    position: relative;
    input[type="checkbox"] {
        display: none;
        &:checked ~ .menu__hamburguer span {
            transform: rotate(45deg);
            &::after {
                transform: rotate(90deg);
                top: 0;
            }
            &::before {
                transform: rotate(-90deg);
                bottom: 0;
            }
        }
    }
    &__hamburguer {
        position: relative;
        height: 30px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        span {
            height: 2px;
            width: 100%;
            background: linear-gradient(to right, #071f68, #baf9b3, #2cd1d3);
            transform: rotate(0deg);
            transition: 0.3s;
            &::after {
                content: "";
                position: absolute;
                height: 2px;
                width: 100%;
                left: 0;
                top: -12px;
                background: linear-gradient(to right, #071f68, #baf9b3, #2cd1d3);
                transition: 0.3s;
            }
            &::before {
                content: "";
                position: absolute;
                height: 2px;
                width: 100%;
                left: 0;
                bottom: -12px;
                background: linear-gradient(to right, #071f68, #baf9b3, #2cd1d3);
                transition: 0.3s;
            }
        }
    }
}
.sidebarIsClose {
    left: -300px;
}
.sidebarIsOpen {
    left: 0;
}
