.change-photo{
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    &__container {
        display: block;
        background: #fff;
        border-radius: 10px;
        width: 100%;
        max-width: 750px;
        height: 400px;
    }
}